In [47]:
import pandas as pd
import numpy as np
import random

In [48]:
df=pd.DataFrame(np.random.randint(0,100,(50,3)))
df.head()

    0   1   2
0  39  77   2
1  59  90  10
2  62  31  19
3  40  19  20
4   4   5  42

In [49]:
x=random.sample(range(0,50),15)
y = np.random.randint(0, 3, 15)
for i,j in zip(x,y):
    df.iloc[i,j]=np.nan
df

       0     1     2
0   39.0  77.0   2.0
1   59.0   NaN  10.0
2   62.0  31.0  19.0
3   40.0   NaN  20.0
4    4.0   NaN  42.0
5   14.0  47.0  32.0
6   56.0  19.0  50.0
7   85.0  51.0  81.0
8   16.0  12.0  25.0
9   66.0  79.0  28.0
10  80.0   NaN  45.0
11   NaN  31.0  12.0
12  67.0  68.0  93.0
13   4.0  88.0  44.0
14  53.0   1.0  11.0
15  95.0  96.0  96.0
16  25.0  21.0  35.0
17  90.0  98.0  47.0
18  58.0  74.0   9.0
19  76.0   NaN  24.0
20   NaN  25.0  72.0
21   3.0  33.0  89.0
22  48.0  56.0   NaN
23   NaN  24.0  27.0
24  73.0  92.0  24.0
25  72.0   8.0  51.0
26  41.0  16.0  18.0
27   2.0  40.0  43.0
28  34.0  60.0  46.0
29  85.0  30.0  72.0
30  79.0  80.0  46.0
31  54.0   NaN   8.0
32  32.0  90.0   1.0
33  59.0  93.0  52.0
34  32.0   NaN  40.0
35  70.0   NaN  17.0
36  61.0   NaN  71.0
37  39.0   5.0  82.0
38  48.0  94.0  35.0
39   4.0  47.0  80.0
40  47.0   2.0  79.0
41  14.0  22.0  25.0
42  27.0  24.0  31.0
43  57.0  83.0  90.0
44  35.0  81.0   0.0
45   NaN  90.0  51.0
46  58.0  33.0  69.0
47  60.0  18.0   NaN
48  91.0  83.0  49.0
49  46.0  72.0  11.0

In [59]:
df.isnull().sum()

0    4
1    9
2    2
dtype: int64

In [61]:
df.dropna(axis=1,thresh=df.shape[0]-5)

       0     2
0   39.0   2.0
1   59.0  10.0
2   62.0  19.0
3   40.0  20.0
4    4.0  42.0
5   14.0  32.0
6   56.0  50.0
7   85.0  81.0
8   16.0  25.0
9   66.0  28.0
10  80.0  45.0
11   NaN  12.0
12  67.0  93.0
13   4.0  44.0
14  53.0  11.0
15  95.0  96.0
16  25.0  35.0
17  90.0  47.0
18  58.0   9.0
19  76.0  24.0
20   NaN  72.0
21   3.0  89.0
22  48.0   NaN
23   NaN  27.0
24  73.0  24.0
25  72.0  51.0
26  41.0  18.0
27   2.0  43.0
28  34.0  46.0
29  85.0  72.0
30  79.0  46.0
31  54.0   8.0
32  32.0   1.0
33  59.0  52.0
34  32.0  40.0
35  70.0  17.0
36  61.0  71.0
37  39.0  82.0
38  48.0  35.0
39   4.0  80.0
40  47.0  79.0
41  14.0  25.0
42  27.0  31.0
43  57.0  90.0
44  35.0   0.0
45   NaN  51.0
46  58.0  69.0
47  60.0   NaN
48  91.0  49.0
49  46.0  11.0

In [79]:
max=df.sum(axis=1)
max.idxmax()

15

In [81]:
df.sort_values(by=0)

       0     1     2
27   2.0  40.0  43.0
21   3.0  33.0  89.0
4    4.0   NaN  42.0
13   4.0  88.0  44.0
39   4.0  47.0  80.0
5   14.0  47.0  32.0
41  14.0  22.0  25.0
8   16.0  12.0  25.0
16  25.0  21.0  35.0
42  27.0  24.0  31.0
34  32.0   NaN  40.0
32  32.0  90.0   1.0
28  34.0  60.0  46.0
44  35.0  81.0   0.0
0   39.0  77.0   2.0
37  39.0   5.0  82.0
3   40.0   NaN  20.0
26  41.0  16.0  18.0
49  46.0  72.0  11.0
40  47.0   2.0  79.0
38  48.0  94.0  35.0
22  48.0  56.0   NaN
14  53.0   1.0  11.0
31  54.0   NaN   8.0
6   56.0  19.0  50.0
43  57.0  83.0  90.0
46  58.0  33.0  69.0
18  58.0  74.0   9.0
1   59.0   NaN  10.0
33  59.0  93.0  52.0
47  60.0  18.0   NaN
36  61.0   NaN  71.0
2   62.0  31.0  19.0
9   66.0  79.0  28.0
12  67.0  68.0  93.0
35  70.0   NaN  17.0
25  72.0   8.0  51.0
24  73.0  92.0  24.0
19  76.0   NaN  24.0
30  79.0  80.0  46.0
10  80.0   NaN  45.0
29  85.0  30.0  72.0
7   85.0  51.0  81.0
17  90.0  98.0  47.0
48  91.0  83.0  49.0
15  95.0  96.0  96.0
11   NaN  31.0  12.0
20   NaN  25.0  72.0
23   NaN  24.0  27.0
45   NaN  90.0  51.0

In [88]:
df.iloc[15,0]=91.0

In [91]:
df.count()

0    46
1    41
2    48
dtype: int64

In [90]:
df.drop_duplicates(subset=0).count()

0    36
1    29
2    35
dtype: int64

In [92]:
df[0].corr(df[1])

0.28401071417081797

In [94]:
df[1].cov(df[2])

-56.96693657219972

In [104]:
cat=pd.cut(np.array(df[1]),bins=5)
pd.Series(cat)

0      (59.2, 78.6]
1               NaN
2      (20.4, 39.8]
3               NaN
4               NaN
5      (39.8, 59.2]
6     (0.903, 20.4]
7      (39.8, 59.2]
8     (0.903, 20.4]
9      (78.6, 98.0]
10              NaN
11     (20.4, 39.8]
12     (59.2, 78.6]
13     (78.6, 98.0]
14    (0.903, 20.4]
15     (78.6, 98.0]
16     (20.4, 39.8]
17     (78.6, 98.0]
18     (59.2, 78.6]
19              NaN
20     (20.4, 39.8]
21     (20.4, 39.8]
22     (39.8, 59.2]
23     (20.4, 39.8]
24     (78.6, 98.0]
25    (0.903, 20.4]
26    (0.903, 20.4]
27     (39.8, 59.2]
28     (59.2, 78.6]
29     (20.4, 39.8]
30     (78.6, 98.0]
31              NaN
32     (78.6, 98.0]
33     (78.6, 98.0]
34              NaN
35              NaN
36              NaN
37    (0.903, 20.4]
38     (78.6, 98.0]
39     (39.8, 59.2]
40    (0.903, 20.4]
41     (20.4, 39.8]
42     (20.4, 39.8]
43     (78.6, 98.0]
44     (78.6, 98.0]
45     (78.6, 98.0]
46     (20.4, 39.8]
47    (0.903, 20.4]
48     (78.6, 98.0]
49     (59.2, 78.6]
dtype: category
Categories (5, interval[float64, right]): [(0.903, 20.4] < (20.4, 39.8] < (39.8, 59.2] < (59.2, 78.6] < (78.6, 98.0]]